.header--navbar .navbar-inner .spring-logo--container .spring-logo {
  margin: 12px 0 6px;
  width: 248px;
  height: 46px;
}
a.spring-logo {
  background: url("../img/springdev-logo.png") 0px 0px no-repeat;
}
a.spring-logo span {
  background: url("../img/springdev-logo.png") 0px -48px no-repeat;
}

.pagination {
    margin: 10px 0 0;
}
#toc ul {
    list-style-type: none;
    margin: 0 20px;
}
.menuseq,.menuref{color:#000}
.menuseq b:not(.caret),.menuref{font-weight:inherit}
.menuseq{word-spacing:-.02em}
.menuseq b.caret{font-size:1.25em;line-height:.8}
.menuseq i.caret{font-weight:bold;text-align:center;width:.45em;border:none;vertical-align: inherit;}
.hdlist>table,.colist>table{border:0;background:none}
.hdlist>table>tbody>tr,.colist>table>tbody>tr{background:none}
td.hdlist1,td.hdlist2{vertical-align:top;padding:0 .625em}
td.hdlist1{font-weight:bold;padding-bottom:1.25em}
.literalblock+.colist,.listingblock+.colist{margin-top:-.5em}
.colist>table tr>td:first-of-type{padding:.4em .75em 0 .75em;line-height:1;vertical-align:top}
.colist>table tr>td:first-of-type img{max-width:initial}
.colist>table tr>td:last-of-type{padding:.25em 0}
.colist>table tr>td{border:0;background:none}
.conum[data-value]{display:inline-block;color:#fff!important;background-color:rgba(0,0,0,.8);-webkit-border-radius:100px;border-radius:100px;text-align:center;font-size:.75em;width:1.67em;height:1.67em;line-height:1.67em;font-family:"Open Sans","DejaVu Sans",sans-serif;font-style:normal;font-weight:bold}
.conum[data-value] *{color:#fff!important}
.conum[data-value]+b{display:none}
.conum[data-value]:after{content:attr(data-value)}
pre .conum[data-value]{position:relative;top:-.125em}
b.conum *{color:inherit!important}
.conum:not([data-value]):empty{display:none}
.blog--container .blog--post .colist>table {
    width: 100%;
    margin: 10px 0;
}
.blog--container .blog--post .colist>table tr {
    border: 0;
}
.blog--container .blog--post .colist>table tr > td {
    border: 0;
}
.blog--container .blog--post .colist>table tr > td {
    background:none;
}

.blog--container .blog--post .admonitionblock.caution {
  border-left: 4px solid #f12222;
  background-color: #f1c4c4;
}
.blog--container .blog--post .quoteblock.abstract blockquote {
  margin: 20px 0;
  padding: 0 0 0 10px;
  border-left: 5px solid #dddddd;
}
.blog--container .blog--post .quoteblock.abstract blockquote p {
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 24px;
}
.blog--container .blog--post .quoteblock.abstract {
    margin: 20px 0;
    padding: 0 0 0 10px;
    border-left: none;
}
.blog--container .blog--post .quoteblock {
    margin: 20px 0;
    padding: 0 0 0 10px;
    border-left: 5px solid #1d97d4;
}
.blog--container .blog--post .quoteblock blockquote {
    padding: 0 0 0 15px;
    margin: 0 0 20px;
    border: none;
}
.blog--container .blog--post .quoteblock .attribution {
    text-align: right;
}
pre {
    overflow: hidden;
}
.content--title {
    margin-top: -50px;
}
.content-right-pane--container ul li ul.sectlevel2 {
    display: none;
}
.header--navbar .navbar-inner .navbar-link a {
    font-size: 16px;
}
.icon.blog-icon.all-posts {
  background-position: 20px 561px;
}
.icon.blog-icon.article {
  background-position: 20px 477px;
}
.icon.blog-icon.release {
  background-position: 20px 433px;
}
.icon.blog-icon.news {
  background-position: 20px 387px;
}
#toTop {
    color: #fff;
    text-align: center;
    bottom: 60px;
    display: none;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    position: fixed;
    right: 10px;
    text-decoration: none;
    width: 45px;
    background: url(../img/to-top-arrow.png) no-repeat center;
    background-color: #5fa134;
    text-transform: uppercase;
    z-index: 100;
    border-radius: 2px;
}
#toTop:hover {
    color: #fff;
    background-color: #6db33f;
}
.switch-sidebar {
    margin-top: -50px;
}
.switchery-small {
    border-radius: 20px;
    height: 20px;
    width: 43px;
}